a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffb700;
}

.page {
	margin: auto;
}

.header {
    background-image: url("light.JPG");
    background-size: cover;
}

.nav-item {
    font-size: 20px;
    font-weight: 600;
    padding-top: 60px;
}

.page-title {
    margin: 0;
    padding-top: 40px;
}

.avatar {
	margin: auto;
    padding: 20px 0;
}

.content {
    margin: auto;
}